@import '~@fluentui/react/dist/sass/References.scss';

.mainContainer{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    height: auto;
    // gap: 10px;
}
.section{
    width: 99%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.header-section {
    width: 99%;
    background: #083c5f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 600;
    padding: 10px;
    direction: ltr;
    font-size: medium;
  }
.imagecontent{
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: flex;
    justify-content: left;
    gap: 3px;
    flex-wrap: wrap;
    padding: 5px;
    div{
        min-width: 33%;
        max-width: 48%;
        p{
            padding: 2px;
        }
        img{
            width: 95%;
            height: 100%;
        }
    }
}
.heading
{
    width: 99%;
    background-color: #e7f2fa;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #000;
    display: flex;
    justify-content: center;
    font-weight: 600;
    padding: 10px;
    direction: ltr;
    font-size: medium;
}

.img_Title_container{
    margin-top: 25px;
}