// ---------------------------------------- Title and Sub title style --------------------------------------
.container-section {
  margin: 20px auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.header-section {
  background: #083c5f;
  color: white;
  padding: 10px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: medium;
}

.sub-header-section {
  background: #e8f2ff;
  padding: 5px;
  border-bottom: 1px solid #d2d2d2;
  display: flex;
  justify-content: center;
  font-size: medium;
  font-weight: bold;
}

.header {
  background-color: #e7f2fa;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  margin: auto 20px;
  text-align: justify;
  font-weight: 700;
  font-size: medium;
  direction: ltr;
}

.sub-header {
  padding: 25px 20px;
  font-size: 17px;
  font-weight: bold;
  flex-shrink: 0;
  background-color: white;
  margin: auto 20px;
  text-align: justify;
}

// ---------------------------------------- Title and Sub title style --------------------------------------

.h_direction_31 {
  direction: ltr !important;
  text-align: end;
  font-weight: 200;
  font-weight: bold;
}

.h_direction_32 {
  direction: ltr !important;
  text-align: end;
  font-weight: 200;
  font-weight: bold;
}

.h_direction_33 {
  direction: ltr !important;
  text-align: end;
  font-weight: 200;
  font-weight: bold;
}

.h_direction_34 {
  direction: ltr !important;
  text-align: end;
  font-weight: 200;
  font-weight: bold;
}

.h_direction_35 {
  direction: ltr !important;
  text-align: end;
  font-weight: 200;
  font-weight: bold;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  direction: rtl;
  text-align: right;
}

.custom-table thead {
  font-weight: bold;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  font-size: 17px !important;
}

.custom-table td {
  vertical-align: top !important;
}

.custom-table input,
.custom-table input[type="text"],
.custom-table textarea {
  width: 100%;
  padding: 6px;
  font-size: 17px !important;
  box-sizing: border-box;
}

.custom-table input[type="checkbox"] {

  margin-top: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: none;
}

.Section3_1 td {
  font-size: 17px !important;
}

.Section3_1 input {
  font-size: 17px !important;
}

.Section3_1 textarea {
  font-size: 17px !important;
}

.section3_2 td {
  font-size: 17px !important;
}

.section3_2 input {
  font-size: 17px !important;
}

.section3_2 textarea {
  font-size: 17px !important;
}

.section3_3 td {
  font-size: 17px !important;
}

.section3_3 input {
  font-size: 17px !important;
}

.section3_3 textarea {
  font-size: 17px !important;
}

.section3_4 td {
  font-size: 17px !important;
}

.section3_4 input {
  font-size: 17px !important;
}

.section3_4 textarea {
  font-size: 17px !important;
}

.section3_5 td {
  font-size: 17px !important;
}

.section3_5 input {
  font-size: 17px !important;
}

.section3_5 textarea {
  font-size: 17px !important;
}


.FDSection {
  display: flex;
  margin-top: 20px;

  label {
    padding-right: 12px;
    color: #555;
    font-weight: 700;
  }

  .FdsectionIMGcontainer {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    // margin-bottom: 27px;
  }
}


@media (max-width: 1300px) {
  .section35textarea{
    width: 256px !important;
  }
}